* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eaeaea;
}

img {
  width: 90%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 5px;
  margin: 5px;
}

html {
  color: #ffffff;
  box-sizing: border-box;
}

header {
  color: #1b1b1b;
}

figure {
  padding-top: 15px;
  text-align: center;
  justify-content: center;
  color: #1b1b1b;
}

figcaption {
  text-indent: 50rem;
  color: #8f8f8f;
}

h2 {
  margin: 2px;
  text-indent: 600px;
  color: #1b1b1b;
  padding-right: 26px;
  line-height: 28px;
  list-style-position: inside;
}

h3 {
  text-align: center;
  justify-content: center;
}

main {
  color: #39393a;
  margin: 5%;
  font-family: 'Roboto', sans-serif;
  text-align: match-parent;
  line-height: 28px;
  list-style-position: inside;
}

footer {
  color: #39393a;
  text-align: center;
  justify-content: center;
  line-height: 28px;
  list-style-position: inside;
}
